<div class="container">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Rank</th>
        <th>Movie Name</th>
        <th>Actors</th>
      </tr>
    </thead>
    <tbody *ngFor="let movie of navbarService.searchData$.value | orderBy : 'rank' : 'asc' ">
      <tr>
        <td>
          <img
            [src] = "movie.i.imageUrl"
            width="100px"
            height="100px"
            [alt] = "movie.l"
          />
        </td>
        <td>{{movie.rank}}</td>
        <td>{{movie.l}}</td>
        <td>{{movie.s}}</td>
      </tr>
    </tbody>
  </table>
</div>


